[data-start-badge] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  border-radius: 0.375rem;
  padding: 0.125rem 0.375rem;

  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;

  background-color: var(--background);
  border: 1px var(--border) solid;
  color: var(--foreground);
}

[data-start-badge="success"] {
  --background: oklch(0.63 0.15 150 / 0.14);
  --border: oklch(0.63 0.15 150 / 0.4);
  --foreground: oklch(0.8 0.14 152);
}

[data-start-badge="failure"] {
  --background: oklch(0.63 0.21 25 / 0.14);
  --border: oklch(0.63 0.21 25 / 0.4);
  --foreground: oklch(0.78 0.15 22);
}

[data-start-badge="warning"] {
  --background: oklch(0.75 0.15 85 / 0.14);
  --border: oklch(0.75 0.15 85 / 0.4);
  --foreground: oklch(0.85 0.13 88);
}

[data-start-badge="info"] {
  --background: oklch(0.68 0.13 245 / 0.14);
  --border: oklch(0.68 0.13 245 / 0.4);
  --foreground: oklch(0.78 0.11 245);
}
