[data-start-badge] {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.375rem;
  padding: 0.125rem 0.25rem;

  background-color: var(--background);
  border: 1px var(--foreground) solid;
  color: var(--foreground);
}

[data-start-badge="success"] {
  --background: oklch(98.2% 0.018 155.826);
  --foreground: oklch(52.7% 0.154 150.069);
}

[data-start-badge="failure"] {
  --background: oklch(97.1% 0.013 17.38);
  --foreground: oklch(50.5% 0.213 27.518);
}

[data-start-badge="warning"] {
  --background: oklch(98.7% 0.026 102.212);
  --foreground: oklch(47.6% 0.114 61.907);
}


[data-start-badge="info"] {
  --background: oklch(97% 0.014 254.604);
  --foreground: oklch(48.8% 0.243 264.376);
}
