[data-start-cascade] {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-block: 0;
  list-style-type: none;
  padding-inline: 0;
}

[data-start-cascade-option] {
  color: rgb(17 24 39);
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: none;
  cursor: pointer;

  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  white-space: nowrap;
}

[data-start-cascade-option][tc-active],
[data-start-cascade-option][tc-selected],
[data-start-cascade-option]:focus {
  background-color: rgb(219 234 254);
  color: rgb(30 58 138);
}