[data-start-icon-button] {
  display: flex;
  padding: 0.125rem;
  border-radius: 9999px;
  border-width: 0px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}


[data-start-icon-button]:hover {
  background-color: rgb(229 231 235);
  color: rgb(55 65 81);
}

[data-start-icon-button]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

[data-start-icon-button]:focus-visible {
  box-shadow: 0 0 0 calc(3px) rgb(17 24 39 / 0.75);
}

[data-start-icon-button]:active {
  background-color: rgb(243 244 246);
  color: rgb(31 41 55);
}

[data-start-icon-button]>svg {
  height: 1.5rem;
  width: 1.5rem;
}
