[data-start-placeholder] {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: var(--start-dt-text-muted, inherit);
}

[data-start-placeholder] > span {
  text-align: center;
}
