[data-start-properties] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  overflow: auto;
}

[data-start-property] {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;

  align-items: center;
}
