[data-start-tab] {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.375rem;
  cursor: pointer;

  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 500;
  border: none;
  outline: none;

  color: var(--start-dt-text-muted, rgb(229 231 235));
  background: none;

  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

[data-start-tab]:hover,
[data-start-tab]:focus {
  color: var(--start-dt-text, rgb(229 231 235));
}

[data-start-tab][tc-active],
[data-start-tab][tc-selected] {
  color: var(--start-dt-text, rgb(229 231 235));
  background-color: var(--start-dt-surface-hover, rgb(55 65 81));
  box-shadow: 0 1px 2px oklch(0 0 0 / 0.25);
}

[data-start-tab-group] {
}

[data-start-tab-list] {
  display: inline-flex;
  gap: 0.25rem;
  margin: 0.5rem;
  padding: 0.25rem;

  border-radius: 0.5rem;
  background-color: var(--start-dt-surface, rgb(17 24 39));
  align-self: flex-start;
}

[data-start-tab-panel] {
  flex: 1 1 0%;
  min-height: 0;

  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem;

  border-top: var(--start-dt-border-soft, oklch(87% 0.065 274.039)) 1px solid;
}
