[data-start-tab] {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5rem;
  cursor: pointer;

  color: rgb(17 24 39);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: none;
  outline: none;

  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

[data-start-tab][tc-active],
[data-start-tab][tc-selected],
[data-start-tab]:hover,
[data-start-tab]:focus {
  background-color: rgb(219 234 254);
  color: rgb(30 58 138);
}

[data-start-tab-group] {
}

[data-start-tab-list] {
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  background-color: rgb(249 250 251);
  border-radius: 0.5rem;
}

[data-start-tab-panel] {
  padding: 1rem;
  background-color: rgb(249 250 251);
  border-radius: 0.5rem;
  height: 100%;

  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
