.dev-overlay {
  position: fixed;
  inset: 0px;
  z-index: 50;
  overflow-y: auto;
}

.dev-overlay>div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.dev-overlay-background {
  position: absolute;
  inset: 0px;
  background-color: rgb(17 24 39 / 0.5);
}

.dev-overlay-panel {
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: rgb(249 250 251);
  padding: 1.5rem;
  z-index: 10;
  gap: 1rem;
}

.dev-overlay-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.dev-overlay-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.dev-overlay-button {
  display: flex;
  padding: 0.25rem;
  border-radius: 9999px;
  border-width: 0px;
  align-items: center;
  justify-content: center;
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.dev-overlay-button:hover {
  background-color: rgb(229 231 235);
  color: rgb(55 65 81);
}

.dev-overlay-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.dev-overlay-button:focus-visible {
  box-shadow: 0 0 0 calc(3px) rgb(17 24 39 / 0.75);
}

.dev-overlay-button:active {
  background-color: rgb(243 244 246);
  color: rgb(31 41 55);
}

.dev-overlay-button>svg {
  height: 1.75rem;
  width: 1.75rem;
}

.dev-overlay-page-counter {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}


.dev-overlay-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.dev-overlay-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dev-overlay-error-info {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  display: flex;
  flex-direction: column;
}

.dev-overlay-error-info-name {
  font-weight: 700;
}

.dev-overlay-error-info-message {
  padding-top: 0.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(239 68 68);
  font-weight: 700;
}

.dev-overlay-stack-frames-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dev-overlay-stack-frames {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-block: 0;
  list-style-type: none;
  padding-inline: 0;
}

.dev-overlay-stack-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: rgb(17 24 39);
  cursor: default;
  user-select: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.dev-overlay-stack-frame[tc-active],
.dev-overlay-stack-frame[tc-selected],
.dev-overlay-stack-frame:focus {
  background-color: rgb(219 234 254);
  color: rgb(30 58 138);
}

.dev-overlay-stack-frame-function {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 700;
}

.dev-overlay-stack-frame-file {
  white-space: nowrap;
  font-size: 0.75rem;
  /* 12px */
  line-height: 1rem;
  /* 16px */
}

.dev-overlay-stack-frames-code {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dev-overlay-stack-frames-code-fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(249 250 251);
  min-height: 16rem;
}

.dev-overlay-stack-frames-code-container {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: rgb(17 24 39);
  min-width: 100%;
  min-height: 16rem;
}

.dev-overlay-code-view {
  padding: 0.5rem 1rem;
  overflow: auto;
  min-width: 100%;
  min-height: 16rem;
}

.dev-overlay-code-view>.shiki {
  float: left;
  min-width: 100%;
  overflow-x: auto;
  font-size: 0.75rem;
  line-height: 1rem;
}

.shiki {
  counter-reset: step;
  counter-increment: step calc(var(--dev-overlay-code-view-start, 1) - 1);
}

.shiki .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, .4)
}