[data-start-seroval-value] {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

[data-start-seroval-value="key"] {
  color: oklch(0.78 0.1 305);
}

[data-start-seroval-value="string"] {
  color: oklch(0.78 0.11 150);
}

[data-start-seroval-value="number"] {
  color: oklch(0.8 0.11 80);
}

[data-start-seroval-value="keyword"] {
  color: oklch(0.74 0.1 250);
  font-style: italic;
}

[data-start-seroval-separator] {
  color: var(--start-dt-text-muted);
}
