[data-start-functions-instance-detail] {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

[data-start-functions-viewer] {
  color: rgb(249 250 251);
  margin: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  min-height: 100%;
}

[data-start-functions-instances-container] {
  border-radius: 0.5rem;
  color: rgb(249 250 251);
  width: 100%;
  min-height: 100%;
  overflow: auto;
}

[data-start-functions-instances] {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

[data-start-functions-instances] > [data-start-select-option] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  color: rgb(249 250 251);
}

[data-start-headers] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

[data-start-headers-title] {
  font-weight: 500;
}

[data-start-properties] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

[data-start-property] {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  gap: 0.25rem;
}

[data-start-function-instance-viewer] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
}

[data-start-function-instance-viewer-nav] {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  justify-content: space-between;
}

[data-start-function-instance-viewer-nav-left] {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

[data-start-function-instance-viewer-nav-left] > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

[data-start-function-instance-viewer-content] {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(249 250 251);

  height: 100%;
}

[data-start-function-instance-viewer-content] > [tc-tab-group] {
  height: 100%;
}