[data-start-seroval-viewer] {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px oklch(70.7% 0.165 254.624) solid;
  overflow: auto;
  width: 100%;
  max-height: 50vh;
}

[data-start-seroval-value] {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

[data-start-seroval-promise] {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

[data-start-seroval-renderer] {
  display: flex;
}

[data-start-seroval-renderer] > * + * {
  border-left: 1px oklch(70.7% 0.165 254.624) solid;
}

[data-start-seroval-renderer]:last-child {
  border-right: 1px oklch(70.7% 0.165 254.624) solid;
}

[data-start-seroval-node] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;

  width: 100%;
  max-width: 16rem;
}

[data-start-seroval-node-header] {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(249 250 251);
}

[data-start-seroval-node-content] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

[data-start-seroval-value] {
  color: oklch(62.3% 0.214 259.815);
}

[data-start-seroval-link] {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
}

[data-start-seroval-link] > svg {
  width: 1rem;
  height: 1rem;
}

[data-start-seroval-properties] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0rem 0.25rem;

  overflow: auto;
}

[data-start-seroval-property] {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
