

.server-function-instance-detail {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}


.server-function-inspector {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 75vw;
  height: 75vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 0.5rem;
  color: rgb(17 24 39);
}

.server-function-instances-container {
  border-radius: 0.5rem;
  background-color: rgb(249 250 251);
  overflow: auto;
}


.server-function-instances {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.server-function-instances > [data-start-select-option] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
}

.server-function-instance-viewer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100%;
  overflow: hidden;
}

.server-function-instance-viewer-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[data-start-headers] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

[data-start-headers-title] {
  font-weight: 500;
}

[data-start-properties] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

[data-start-property] {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  gap: 0.25rem;
}