.dev-overlay-panel {
  display: flex;
  flex-direction: column;
  width: 75vw;
  max-height: 75vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 0.5rem;
  color: rgb(17 24 39);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.dev-overlay-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.dev-overlay-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 9999px;
  background-color: rgb(249 250 251);
  padding: 0.25rem;
}

.dev-overlay-page-counter {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.dev-overlay-navbar-left {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}


.dev-overlay-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 9999px;
  background-color: rgb(249 250 251);
  padding: 0.25rem;
}

.dev-overlay-version {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 9999px;
  background-color: rgb(249 250 251);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.dev-overlay-version>div {
  height: 1.5rem;
  width: 1.5rem;
}

.dev-overlay-version>div>svg {
  height: 1.5rem;
  width: 1.5rem;
}

.dev-overlay-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 1.5rem;
  background-color: rgb(249 250 251);
  padding: 1rem;
}

.dev-overlay-error-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.dev-overlay-error-info-name {
  font-weight: 700;
}

.dev-overlay-error-info-message {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(239 68 68);
  font-weight: 700;
}

.dev-overlay-stack-frames-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.dev-overlay-stack-frames {
  flex: 1 1 0%;
  max-height: 16rem;
  overflow-y: auto;
}

.dev-overlay-stack-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.dev-overlay-stack-frame-function {
  font-weight: 700;
}

.dev-overlay-stack-frame-file {
  white-space: nowrap;
  font-size: 0.75rem;
  /* 12px */
  line-height: 1rem;
  /* 16px */
}

.dev-overlay-stack-frames-code {
  padding: 0.5rem 1rem;
  gap: 0.25rem;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: rgb(17 24 39);
}

.dev-overlay-stack-frames-code-fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(249 250 251);
  min-height: 16rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.dev-overlay-stack-frames-code-source {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(249 250 251);
}

.dev-overlay-stack-frames-code-container {
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  max-height: 16rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(249 250 251);
}

.dev-overlay-code-view {
  overflow: auto;
  min-width: 100%;
}

.dev-overlay-code-view>.shiki {
  float: left;
  min-width: 100%;
  overflow-x: auto;
  font-size: 0.75rem;
  line-height: 1rem;
  counter-reset: step;
  counter-increment: step calc(var(--dev-overlay-code-view-start, 1) - 1);
  background-color: transparent !important;
}

.dev-overlay-code-view>.shiki .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, .4)
}

.dev-overlay-error-line {
  background-color: rgba(239, 68, 68, .4);
}