[data-start-image="blocker"],
[data-start-image="image"],
[data-start-image="picture"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[data-start-image="image"],
[data-start-image="picture"] {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
}

[data-start-image="container"] {
  width: 100%;
  height: 100%;
  position: relative;
}