@tailwind base;
@tailwind components;
@tailwind utilities;

.language-id {
  display: none;
}

.github-light {
  display: none;
}

h1,
h2,
h3,
h4 {
  scroll-margin-top: 1em;
}

.line.highlight {
  @apply bg-slate-50 bg-opacity-20;
}

.line {
  @apply px-3
}

.prose {
  --tw-prose-links: #0284c7;
}

.tippy-content {
  @apply overflow-x-scroll;
}