@import './base/_normalize.scss';
@import './base/_base.scss';
@import './base/_transitions.scss';
@import './base/_typography.scss';
@import './base/_forms.scss';
@import './base/_layout.scss';
@import './utilities/_helpers.scss';
@import './components/_alert.scss';
@import './components/_listing.scss';
@import './components/_carousel.scss';
@import './components/_card.scss';

a.active {
  &:hover,
  &:focus {
    opacity: 1;
  }

  svg {
    color: $primary-color;
  }
}
