name: Type Check Distribution

on:
  pull_request:
    branches-ignore:
      - 1.x
  push:
    branches:
      - main

jobs:
  typecheck-dist:
    name: Check ${{ matrix.package }} distributed types
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # @todo
        # add Start for v2
        package: ["@solidjs/vite-plugin-nitro-2"]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v3

      - name: Use Node.js from nvmrc
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - name: Build ${{ matrix.package }} package and dependencies
        # build the package and all its dependencies
        run: pnpm --filter ${{ matrix.package }}... build

      - name: Check types with @arethetypeswrong/cli
        run: pnpx @arethetypeswrong/cli --pack packages/${{ matrix.package }} --profile esm-only
